.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    height: var(--);
    background-color: aquamarine;
}
body {
    margin-top: var(--spacing6);
}