.login, .registro {
    width: 40%;
    gap: var(--spacing3);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: var(--spacing3);
    margin-top: var(--spacing6);
    margin-right: var(--spacing7);
}
.form{
    width: 80%;
}
.form-group{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--spacing6);

    padding: var(--spacing2);
}
.form-group input{
    width: 70%;
    height: 25px;
    padding: var(--spacing2);
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.secao{
    height: 100vh;
    width: 30%;
    background-color: blue;
    right: 0;
    position: fixed;
    top: 0;
    right: 0;
}