<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

        <div class="login">
            <h2>Bem-vindo a Rent-Flow</h2>
            <form  method="POST" action="/login/login" class="form">
                <input type="hidden" name="_csrf" value=<%= csrfToken %>>

                <div  class="form-group">
                    <label>Email</label>
                    <input type="email" name="email">
                </div>

                <div class="form-group">
                    <label>Senha</label>
                    <input type="password" name="password">
                </div>
                <div class="links">
                    <button type="submit" class="btn">Entrar</button>
                    <p>Nao tem uma conta?    <a href="/register/index">Cadastre-se</a></p>
                </div>
            </form>
        </div>
        <div class="secao"></div>
        
</body>
</html>